@model Seventy.ViewModel.EDU.ExamViewModel
@using controller = Seventy.Web.Areas.Edu.Exam.ExamController
@using System.Threading
@{
    Layout = "EditGeneralExamLayout.cshtml";
}


<form id="frm" asp-area="Edu" asp-controller="Exam" asp-action="GeneralExam" method="post" enctype="multipart/form-data">

    <section>

        @if (TempData.ContainsKey("success"))
        {
            <div class="haftad-alert" type="success" title="@TempData["success"]"></div>
        }
        @if (TempData.ContainsKey("err"))
        {
            <div class="haftad-alert" type="danger" title="@TempData["err"]"></div>
        }

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">

                            <div class="form-group">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="Type">
                                        </label>
                                        <div class="col-md-9">
                                            <select asp-for="Type" class="form-control select2" placeholder="@Html.DisplayNameFor(q=>q.Type)">

                                                <option>آزمون</option>
                                                <option>تمرین</option>
                                                <option>کوئیز</option>
                                            </select>

                                            @*<span asp-validation-for="DocType" class="danger"></span>*@
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="LessonID">
                                        </label>
                                        <div class="col-md-9">

                                            <select  asp-for="LessonID" class="form-control  select2 js-events" placeholder="@Html.DisplayNameFor(q=>q.LessonID)">
                                                <option disabled selected>نام  درس</option>
                                                @foreach (var item in controller.GetAllLesson().Where(x=>x.ID==Model.LessonID).ToList())
                                                {
                                                    <option value="@item.ID">@item.Title</option>
                                                }
                                            </select>

                                            <span asp-validation-for="LessonID" class="danger"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="StartDate"></label>
                                        <div class="col-md-9">
                                            <input autocomplete="off" class="form-control  PersianDate" asp-for="StartDate" type="text" placeholder="@Html.DisplayNameFor(q=>q.StartDate)" required>
                                            <span asp-validation-for="StartDate" class="danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="EndDate"></label>
                                        <div class="col-md-9">
                                            <input  autocomplete="off" class="form-control  PersianDate" asp-for="EndDate" type="text" placeholder="@Html.DisplayNameFor(q=>q.EndDate)" required>
                                            <span asp-validation-for="EndDate" class="danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="Title"></label>
                                        <div class="col-md-9">
                                            <input class="form-control " asp-for="Title" placeholder="@Html.DisplayNameFor(q=>q.Title)" required>
                                            <span asp-validation-for="Title" class="danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="Time">
                                        </label>
                                        <div class="col-md-9">
                                            <input class="form-control " asp-for="Time" placeholder="@Html.DisplayNameFor(q=>q.Time)" required>
                                            <span asp-validation-for="Time" class="danger"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="RandomQuestionOptionsOrder">
                                        </label>
                                        <div class="col-md-9">
                                            <select asp-for="RandomQuestionOptionsOrder" class="form-control select2" placeholder="@Html.DisplayNameFor(q=>q.RandomQuestionOptionsOrder)">
                                                <option value="true">بله</option>
                                                <option value="false">خیر</option>
                                            </select>
                                            <span asp-validation-for="RandomQuestionOptionsOrder" class="danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="RandomQuestionsOrder"></label>
                                        <div class="col-md-9">
                                            <select asp-for="RandomQuestionsOrder" class="form-control select2" placeholder="@Html.DisplayNameFor(q=>q.RandomQuestionsOrder)">
                                                <option value="true">بله</option>
                                                <option value="false">خیر</option>
                                            </select>

                                            <span asp-validation-for="RandomQuestionsOrder" class="danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" asp-for="FileID"></label>
                                        <div class="col-md-9">
                                            <input name="file" type="file" class="form-control" autocomplete="off" />
                                            <span asp-validation-for="FileID"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" id="examQuestion" name="examQuestion" value="" />


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div class="col-sm-10 offset-3">
                                                <button type="button" class="btn btn-primary" onclick="customSubmit()">ثبت</button>
                                                <button type="reset" class="btn btn-danger"><i class="ficon ft-trash-2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                </div>
            </div>
        </div>

        <!-- افزودن سوال -->
        <button id="btnAddQuestion" style="display:none" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
            افزودن سوال
        </button>

    </section>
</form>



<!-- The Modal -->
<div class="modal fade" id="myModal" style="z-index:100000;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">بانک سوالات</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>نوع سوال</label>
                                <select class="form-control" placeholder="سوالات" id="questionTitle">
                                    <option  selected>انتخاب کنید</option>
                                    <option value="true">چند گزینه ای</option>
                                    <option value="false">تشریحی</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>کاربر ثبت کننده</label>
                                @*<select class="form-control" placeholder="کاربر ثبت شده" id="userRegister">
                                        <option disabled selected>انتخاب کنید</option>
                                        <option value="1">کاربر ثبت شده 1</option>
                                        <option value="2">کاربر ثبت شده 2</option>
                                        <option value="3">کاربر ثبت شده 3</option>
                                    </select>*@

                                <select class="form-control" placeholder="کاربر ثبت شده" id="userRegister">
                                    <option  selected>انتخاب کنید</option>
                                    @foreach (var item in await controller.GetUsersInQuestion(new CancellationToken()))
                                    {
                                        <option value="@item.ID">@item.FirstName @item.LastName</option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>سطح سوال</label>
                                <select class="form-control" placeholder="سطح سوالات" id="questionLevel">
                                    <option  selected>انتخاب کنید</option>
                                    <option value="1">آسون</option>
                                    <option value="2">سخت</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    @*<div id="showQuestion" class="alert alert-info">
                        </div>*@
                    <h4 style="display:none" class="showTitle alert alert-light"></h4>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <section id="List"></section>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">بستن</button>
            </div>

        </div>
    </div>
</div>



<section>
    <partial name="_EditGeneralExamQuestions" model="null"/>
</section>