@model Seventy.ViewModel.Core.Users.ChangePassword
@{
    Layout = "_layout";
}

    <section class="input-validation">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">تغییر رمز عبور</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a data-action="collapse">
                                        <i class="ft-minus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="expand">
                                        <i class="ft-maximize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-action="close">
                                        <i class="ft-x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form class="needs-validation" novalidate asp-area="Edu" asp-controller="User" asp-action="ChangePasswordPost" method="post">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label>@Html.DisplayNameFor(q=>q.OldPassword)</label>
                                        <input type="password" class="form-control" asp-for="OldPassword" placeholder="@Html.DisplayNameFor(q => q.OldPassword)" value="" required>
                                        <span asp-validation-for="OldPassword" class="danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label>@Html.DisplayNameFor(q => q.Password)</label>
                                        <input type="password" class="form-control" asp-for="Password" placeholder="@Html.DisplayNameFor(q => q.Password)" value="" required>
                                        <span asp-validation-for="Password" class="danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>@Html.DisplayNameFor(q => q.ConfirmedPassword)</label>
                                        <input type="password" class="form-control" asp-for="ConfirmedPassword" placeholder="@Html.DisplayNameFor(q => q.ConfirmedPassword)" value="" required>
                                        <span asp-validation-for="ConfirmedPassword" class="danger"></span>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">تغییر رمز عبور</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@*<div id="tableCaption" class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>تغییر رمز عبور</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form class="text-left" >
                <div class="form">
                    <div class="form-group col-4  float-left">
                        <label class="control-label">رمز قدیمی:</label>
                        <input type="text" asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4  float-left">
                        <label class="control-label">رمز جدید:</label>
                        <input type="text" asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4  float-left">
                        <label class="control-label">تکرار رمز جدید:</label>
                        <input type="text" asp-for="ConfirmedPassword" class="form-control">
                        <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="d-sm-flex justify-content-between col-4 float-left">
                        <div class="field-wrapper">
                            <button type="submit" class="btn btn-primary" value="">تغییر رمز</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>*@