@model Seventy.ViewModel.EDU.TrainingWeek.UserCourseSummaryViewModel
@{
    ViewBag.Title = " ";
    if (ViewBag.isPartial != true)
        Layout = "~/Areas/Edu/Shared/_Layout.cshtml";
    else
        Layout = null;
}

<style>

    .timeline {
        margin-top: 20px;
        position: relative;
        color: #fff;
    }

        .timeline:before {
            position: absolute;
            content: '';
            width: 4px;
            height: calc(100% + 50px);
            background: rgb(138,145,150);
            background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
            background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
            background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
            right: 15px;
            top: 5px;
            border-radius: 4px;
        }

    .timeline-month {
        position: relative;
        padding: 4px 35px 4px 15px;
        background-color: #444950;
        display: inline-block;
        width: auto;
        border-radius: 40px;
        border: 1px solid #17191B;
        border-right-color: black;
        margin-bottom: 30px;
    }

        .timeline-month span {
            position: absolute;
            top: -1px;
            right: calc(100% - 10px);
            z-index: -1;
            white-space: nowrap;
            display: inline-block;
            background-color: #111;
            padding: 4px 10px 4px 20px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        .timeline-month:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background: rgb(138,145,150);
            background: -moz-linear-gradient(top, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(112,120,125,1) 100%);
            background: -webkit-linear-gradient(top, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
            background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
            border-radius: 100%;
            border: 1px solid #17191B;
            right: 5px;
        }

    .timeline-section {
        padding-right: 35px;
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

    .timeline-end {
        padding-right: 35px;
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

        .timeline-end:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
            bottom: -25px;
            right: 12px;
            border: 1px solid #17191B;
        }

    .timeline-date {
        margin-bottom: 15px;
        padding: 2px 15px;
        background: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
        position: relative;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #17191B;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

    .timeline-section:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: #444950;
        top: 12px;
        right: 20px;
    }

    .timeline-section:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
        top: 7px;
        right: 11px;
        border: 1px solid #17191B;
        border-radius: 100%;
    }

    .timeline-section .col-md-6 {
        margin-bottom: 15px;
    }

    .timeline-box {
        position: relative;
        background-color: #4a4ded;
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #17191B;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .box-icon {
        position: absolute;
        right: 5px;
        top: 0px;
    }

    .box-title {
        padding: 5px 15px;
        border-bottom: 1px solid #17191B;
        color: #fff;
    }

        .box-title i {
            margin-right: 5px;
        }

    .box-content {
        padding: 5px 15px;
        background-color: #c1cfd5;
    }

        .box-content strong {
            color: #000;
            margin-right: 5px;
        }

    .box-item {
        margin-bottom: 5px;
        color: #000;
    }

    .box-footer {
        padding: 5px 15px;
        border-top: 1px solid #17191B;
        background-color: #4a4ded;
        text-align: right;
        font-style: italic;
    }
</style>

<section>
    @if (TempData.ContainsKey("success"))
    {
        <div class="haftad-alert" type="success" title="@TempData["success"]"></div>
    }
    @if (TempData.ContainsKey("err"))
    {
        <div class="haftad-alert" type="danger" title="@TempData["err"]"></div>
    }
    @if (Model != null)
    {
        <div class="container">
            <div class="timeline">
                <div class="timeline-month">
                    @* <span>@Model.Progress %</span>*@
                    @Model.CourseGroupTitle
                </div>
                <div class="timeline-section">
                    <div class="timeline-date">
                        @Model.Term.Title از  @Model.Term.StartDate.Date.ToPersianDate() تا @Model.Term.EndDate.Date.ToPersianDate()
                    </div>

                    @{
                        var checkedMark = "<i class='ft-check-square mx-1 text-success'></i>";
                        var uncheckedMark = "<i class='ft-x-square mx-1 text-danger'></i>";
                    }


                    @foreach (var lesson in @Model.Lessons)
                    {
                        <div class="timeline-date">
                            @lesson.Title
                        </div>

                        @foreach (var week in Model.TrainingWeeks)
                        {
                            var weekContents = Model.TrainingWeekContents.Where(q => q.TrainingWeekID == week.ID);
                            var a1 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "HTML").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());
                            var a2 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "ویدیو").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());
                            var a3 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "تمرین").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());
                            var a4 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "کوئیز").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());
                            var a5 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "فروم").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());
                            var a6 = string.Join("<br/>", weekContents.Where(q => q.ContentType == "آزمون").Select(x =>
                                    (Model.UserTrainingWeekContents.Any(y => y.ContentID == x.ContentID) ? checkedMark : uncheckedMark) + x.ContentTitle).ToList());

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="timeline-box">
                                        <div class="box-title">
                                            <i class="fa fa-asterisk text-success" aria-hidden="true"></i>@week.Title
                                        </div>
                                        <div class="box-content">
                                            <div class="box-item"><strong> HTML : </strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a1)) </div>
                                            <div class="box-item"><strong> ویدیو آموزشی :</strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a2)) </div>
                                            <div class="box-item"><strong> تمرین :</strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a3)) </div>
                                            <div class="box-item"><strong> کوئیز :</strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a4)) </div>
                                            <div class="box-item"><strong> فروم :</strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a5))   </div>
                                            <div class="box-item"><strong> آزمون :</strong> <br /> @(new Microsoft.AspNetCore.Html.HtmlString(@a6))</div>

                                        </div>
                                        <div class="box-footer">درصد پیشرفت</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="timeline-end"></div>
            </div>

        </div>
    }
</section>
